<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pending Holiday Requests</title>
</head>
<body>
    <h1>List of Pending Holiday Requests</h1>
    <ul>
        <% holidayRequests.filter(request => request.status === 'pending').forEach(request => { %>
            <% if (employees.find(employee => employee.id == request.employee_id)?.name !== undefined) { %>
            <li>
                    <strong>Name:</strong> <%= employees.find(employee => employee.id == request.employee_id)?.name %>,
                    <strong>Start Date:</strong> <%= request.start_date.toLocaleDateString('en-CA') %>,
                    <strong>End Date:</strong> <%= request.end_date.toLocaleDateString('en-CA') %>
                    <% if (employees.length > 1) { %>
                        <button onclick="approveRequest('<%= request.id %>')">Approve</button>
                        <button onclick="rejectRequest('<%= request.id %>')">Reject</button>
                    <% } %>
            </li>
            <% } %>
        <% }); %>
    </ul>
</body>
<script>
    function updateRequestAction(requestId, action) {
        fetch(`/requests/${action}/${requestId}`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ action: action })
        })
        .then(response => location.reload())
        .catch(error => console.error('Error:', error));
    }

    function approveRequest(requestId) {
        updateRequestAction(requestId, 'approved');
    }

    function rejectRequest(requestId) {
        updateRequestAction(requestId, 'rejected');
    }
</script>
</html>
